@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
        @foreach (var movie in (List<MovieViewModel>)ViewData["Movies"])
        {
            <li>@movie.Id @movie.Title</li>
        }
    </ul>

    <ul>
        @foreach (var movie in (List<MovieViewModel>)ViewBag.Movies)
        {
            <li>@movie.Id @movie.Title</li>
        }
    </ul>
</div>